# Configuration du serveur
PORT=3000
FRONTEND_URL=http://localhost:5173

# Configuration MongoDB
MONGODB_URI=mongodb://localhost:27017/dashboard

# Configuration Gmail API
GMAIL_CLIENT_ID=your_client_id_here
GMAIL_PROJECT_ID=your_project_id_here
GMAIL_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GMAIL_TOKEN_URI=https://oauth2.googleapis.com/token
GMAIL_AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GMAIL_CLIENT_SECRET=your_client_secret_here
GMAIL_REDIRECT_URI=http://localhost:3000/api/gmail/callback