PORT=3000
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://username:password@your-cluster.mongodb.net/?retryWrites=true&w=majority

# MAIL API
GMAIL_CLIENT_ID=your_client_id_here
GMAIL_CLIENT_SECRET=your_client_secret_here
GMAIL_REDIRECT_URI=http://localhost:3000/api/gmail/callback
GMAIL_PROJECT_ID=your_project_id_here
GMAIL_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GMAIL_TOKEN_URI=https://oauth2.googleapis.com/token
GMAIL_AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs


# API FINANCE 

VITE_FINNHUB_API_KEY=yout_clien_id